html{font-family: Helvetica; display:inline-block; margin: 0px auto; text-align: center;}
body{background-color:  #003d91;}
h1{color: #e6d32c; padding: 2vh;}
h2{color: #e6d32c; }
p{font-size: 2rem;}
#sem{
    background-color: #003d91 ;  
}
.label{
    color: #e6d32c ;
}
#seq{
    align-content: center;
    color:  #e6d32c ;
    font-size: 1.3rem;
}
#subBt{
    background-color: rgb(214, 241, 90);
    size: 6px;
    color: blue;
}

            